In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
train = pd.read_csv('/content/drive/MyDrive/train.csv')
train.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [57]:
train.shape

(245725, 11)

In [58]:
test = pd.read_csv('/content/drive/MyDrive/test.csv')
test.head()

         ID  Gender  Age  ... Credit_Product Avg_Account_Balance Is_Active
0  VBENBARO    Male   29  ...            Yes              742366        No
1  CCMEWNKY    Male   43  ...            NaN              925537        No
2  VK3KGA9M    Male   31  ...             No              215949        No
3  TT8RPZVC    Male   29  ...             No              868070        No
4  SHQZEYTZ  Female   29  ...             No              657087        No

[5 rows x 10 columns]

In [59]:
test.shape

(105312, 10)

In [60]:
train.describe(include='all')

              ID  Gender  ...  Is_Active        Is_Lead
count     245725  245725  ...     245725  245725.000000
unique    245725       2  ...          2            NaN
top     MRAC6IWV    Male  ...         No            NaN
freq           1  134197  ...     150290            NaN
mean         NaN     NaN  ...        NaN       0.237208
std          NaN     NaN  ...        NaN       0.425372
min          NaN     NaN  ...        NaN       0.000000
25%          NaN     NaN  ...        NaN       0.000000
50%          NaN     NaN  ...        NaN       0.000000
75%          NaN     NaN  ...        NaN       0.000000
max          NaN     NaN  ...        NaN       1.000000

[11 rows x 11 columns]

In [61]:
# Droppinf ID columns as its each value is unique
train.drop('ID',axis=1,inplace=True)
test.drop('ID',axis=1,inplace=True)

In [62]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245725 entries, 0 to 245724
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Gender               245725 non-null  object
 1   Age                  245725 non-null  int64
 2   Region_Code          245725 non-null  object
 3   Occupation           245725 non-null  object
 4   Channel_Code         245725 non-null  object
 5   Vintage              245725 non-null  int64
 6   Credit_Product       216400 non-null  object
 7   Avg_Account_Balance  245725 non-null  int64
 8   Is_Active            245725 non-null  object
 9   Is_Lead              245725 non-null  int64
dtypes: int64(4), object(6)
memory usage: 18.7+ MB

In [65]:
cat.head()

   Gender Region_Code     Occupation Channel_Code Credit_Product Is_Active
0  Female       RG268          Other           X3             No        No
1  Female       RG277       Salaried           X1             No        No
2  Female       RG268  Self_Employed           X3             No       Yes
3    Male       RG270       Salaried           X1             No        No
4  Female       RG282       Salaried           X1             No        No

In [66]:
train.isnull().sum()

Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [67]:
test.isnull().sum()

Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         12522
Avg_Account_Balance        0
Is_Active                  0
dtype: int64

In [68]:
train.Credit_Product.value_counts()

No     144357
Yes     72043
Name: Credit_Product, dtype: int64

In [69]:
# Filling null values in credit_product with forward fill method
train = train.fillna(method='ffill')
test = test.fillna(method='ffill')

In [70]:
train.Credit_Product.value_counts()

No     163751
Yes     81974
Name: Credit_Product, dtype: int64

In [71]:
# Verifying null values
train.isnull().sum()

Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
Is_Lead                0
dtype: int64

In [72]:
# Identifying categorical and numerical features
cat,num = [],[]
num=train.select_dtypes(include="number")
cat=train.select_dtypes(include="object")

In [63]:
num.columns

Index(['Age', 'Vintage', 'Avg_Account_Balance', 'Is_Lead'], dtype='object')

In [64]:
cat.columns

Index(['Gender', 'Region_Code', 'Occupation', 'Channel_Code', 'Credit_Product',
       'Is_Active'],
      dtype='object')

In [15]:
train.head()

   Gender  Age Region_Code  ... Avg_Account_Balance Is_Active  Is_Lead
0  Female   73       RG268  ...             1045696        No        0
1  Female   30       RG277  ...              581988        No        0
2  Female   56       RG268  ...             1484315       Yes        0
3    Male   34       RG270  ...              470454        No        0
4  Female   30       RG282  ...              886787        No        0

[5 rows x 10 columns]

In [73]:
# Removing numerical features with zero variance
from sklearn.feature_selection import VarianceThreshold

varselector= VarianceThreshold(threshold=0)
varselector.fit_transform(num)
# Get columns to keep and create new dataframe with those only
cols = varselector.get_support(indices=True)
num_1 = num.iloc[:,cols]

In [75]:
# none of numerical columns had zero variance
num_1.head()

   Age  Vintage  Avg_Account_Balance  Is_Lead
0   73       43              1045696        0
1   30       32               581988        0
2   56       26              1484315        0
3   34       19               470454        0
4   30       33               886787        0

In [76]:
# Checking lead conversion percentage

train.Is_Lead.sum()/train.shape[0]

0.23720826126767727

In [77]:
num_1 = num_1.drop('Is_Lead',axis=1,inplace=True)

In [78]:
# Binning numerical values into 10 bins on basis of quartiles

from sklearn.preprocessing import KBinsDiscretizer
discrete=KBinsDiscretizer(n_bins=10,encode='ordinal', strategy='quantile')
num_binned=pd.DataFrame(discrete.fit_transform(num_1),index=num_1.index, columns=num_1.columns).add_suffix('_Rank')
num_binned.head()

ValueError: ignored